@font-face {
    src: url(/assert/fonts/Poppins-Medium.ttf);
    font-family: Poppins;
}

* {
    font-family: Poppins;
}

.center {
    display: flex;
    justify-content: center;
}

.top_contact_us {
    background-color: rgb(44, 44, 44);
}

.top_head_full {
    width: 98%;
}

.full {
    width: 96%;
}

.top_contact_contacts {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_contact_left ul {
    display: flex;
    align-items: center;
}

.top_contact_left ul li {
    display: flex;
    align-items: center;
    margin-right: 25px;
    color: #d5d5d5;
}

.top_contact_left i {
    padding-right: 12px;
    font-size: 16px;
}

.top_contact_left p {
    font-size: 10pt;
}

.top_contact_social ul {
    display: flex;
}

.top_contact_social ul li a {
    font-size: 10pt;
    color: #d5d5d5;
    padding-right: 16px;

}

.top_contact_social ul li:last-child {
    padding-right: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: black;
}

.top_head_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo {
    width: 150px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_menyu_content {
    display: flex;
    padding-right: 150px;
    font-size: 16px;
    font-weight: 500;
    font-family: Poppins;
}

.navigation_menyu_content li {
    margin-right: 20px;
}

.navigation_children {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
}

#pages_children {
    background-color: white;
    padding: 20px 100px 4px 20px;
    border-bottom: solid 6px rgba(0, 125, 242, 1);
    display: none;
    width: 100px;
    position: absolute;
    left: 675px;
}

#pages_children li {
    margin-bottom: 10px;
}

#doctors_children {
    background-color: white;
    padding: 20px 100px 4px 20px;
    border-bottom: solid 6px rgba(0, 125, 242, 1);
    display: none;
    width: 100px;
    position: absolute;
    left: 750px;
}

#doctors_children li {
    margin-bottom: 10px;
}

#department_children {
    background-color: white;
    padding: 20px 100px 4px 20px;
    border-bottom: solid 6px rgba(0, 125, 242, 1);
    display: none;
    width: 140px;
    position: absolute;
    left: 840px;
}

#department_children li {
    margin-bottom: 10px;
}

#blog_children {
    background-color: white;
    padding: 20px 100px 4px 20px;
    border-bottom: solid 6px rgba(0, 125, 242, 1);
    display: none;
    width: 140px;
    position: absolute;
    left: 970px;
}

#blog_children li {
    margin-bottom: 10px;
}

#shop_children {
    background-color: white;
    padding: 20px 100px 4px 20px;
    border-bottom: solid 6px rgba(0, 125, 242, 1);
    display: none;
    width: 100px;
    position: absolute;
    right: 75px;
}

#shop_children li {
    margin-bottom: 10px;
}

.search_basket {
    font-size: 14pt;
}

.search_basket i:first-child {
    padding-right: 20px;
}

.modal_search {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.close_btn {
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18pt;
}

.close_btn:hover {
    font-size: 22pt;
    transition: all 1s;
}

.modal_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 470px;
    margin: 25vh auto;
}

.modal_content input {
    width: 470px;
    height: 62px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    color: rgba(0, 125, 242, 1);
}

.modal_content button {
    margin-bottom: 10px;
    padding: 15px 36px;
    border: solid 1px white;
    border-radius: 5%;
    color: white;
    background-color: #303030;
    font-weight: 600;
    font-size: 15px;
    font-style: normal;
    line-height: 1.5;
    cursor: pointer;
}

.modal_content button:hover {
    background-color: rgba(0, 125, 242, 1);
    transition: all 1s;
}

.modal_content p {
    color: white;
    font-size: 12pt;
    font-weight: 500;
}

.three_menyu_content {
    display: flex;
    justify-content: space-around;
}

.three_menyu_content div {
    width: 30%;
    height: auto;
    background-color: white;
    border: solid 1px #ececec;
    border-radius: 1px;
    transition: all 300ms linear 0ms;
}

.three_menyu_content div:hover {
    box-shadow: 0 0 20px grey;
}

.departments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 59px 0 40px 0;
}


.find_a_doctor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 59px 0 40px 0;
}

.appointment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 59px 0 40px 0;
}

#three_menyu_icon {
    font-size: 75px;
    color: rgba(0, 125, 242, 1);
    line-height: 1;
    margin-bottom: 18px;
}

.three_menyu_content h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
    color: black;
}

.three_menyu_content h5 a:hover {
    color: rgba(0, 125, 242, 1);
    transition: all 1s;
}

.three_menyu_content p {
    width: 270px;
    text-align: center;
    margin-bottom: 18px;
}

#more_detail_link {
    display: flex;
    align-items: center;
}

#more_detail {
    color: rgba(0, 125, 242, 1);
    font-weight: 600;
    font-size: 14px;
    margin-right: 10px;
}

#more_detail_icon {
    display: none;
}

.about_us_background {
    margin-top: 40px;
    background-color: #f5f5f5;
    padding: 84px 0 84px 0;
    width: 100%;
    height: auto;
}

.about_us_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_us_content_left {
    display: flex;
    flex-direction: column;
}

.about_us_content_left h6 {
    color: rgba(0, 125, 242, 1);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.2em;
}

.about_us_content_left #h2_firs {
    font-size: 36px;
    line-height: 52px;
    color: #303030;
    font-weight: 600;
}

.about_us_content_left #h2_second {
    font-size: 36px;
    line-height: 52px;
    color: rgba(0, 125, 242, 1);
    font-weight: 600;
}

.about_us_content_left #desccription {
    width: 460px;
    font-size: 18px;
    line-height: 26px;
    color: #303030;
    font-weight: 600;
    padding-top: 40px;
}

.about_us_content_left #over {
    font-size: 15px;
    line-height: 26px;
    color: #888888;
    width: 460px;
    padding-top: 17px;
    margin-bottom: 35px;
}

.about_us_content_right {
    display: flex;
    position: relative;
}

#first_img {
    position: absolute;
    z-index: 2;
    right: 245px;
    top: 45px;
}

.our_vision_content {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our_vision_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our_vision_title h6 {
    color: rgba(0, 125, 242, 1);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2em;
    margin-bottom: 15px;
}

.our_vision_title h2 {
    font-size: 36px;
    line-height: 52px;
    color: #303030;
    font-weight: 600;
}

.our_vision_lorem p {
    font-size: 15px;
    line-height: 26px;
    color: #888;
    font-weight: 500;
    padding-top: 12px;
    text-align: center;
    width: 975px;
}

.our_vision_two {
    display: flex;
    justify-content: space-around;
    margin-bottom: 115px;
    padding-top: 22px;
}

#margin_style {
    margin-right: 70px;
}

.our_vision_two_content {
    display: flex;
}

.our_vision_two_content_content h5 {
    color: #303030;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 17px;
}

.our_vision_two_content_content h5:hover {
    color: rgba(0, 125, 242, 1);
    transition: all 1s;
}

.our_vision_two_content_content p {
    color: #303030;
    font-size: 14px;
    line-height: 20px;
    width: 200px;
}

.our_vision_two_content_icon {
    font-size: 47px;
    color: rgba(0, 125, 242, 1);
    line-height: 1;
    margin-right: 20px;
}

.video {
    position: relative;
}

.video_link img {
    max-width: 100%;
}

.play_button {
    position: absolute;
    top: 50%;
    right: 50%;
    color: rgba(0, 125, 242, 1);
    font-size: 52pt;
    line-height: 90px;
    cursor: pointer;
}

.play_button :hover {
    color: black;
    transition: all 1s;
}

.video_modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.video_modal_content {
    margin: 15vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video_close_btn {
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18pt;
}

.video_close_btn:hover {
    font-size: 22pt;
    transition: all 1s;
}

.what_w_d_best_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 82px;
}

.what_w_d_best_title {
    text-align: center;
}

.what_w_d_best_title h6 {
    color: rgba(0, 125, 242, 1);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2em;
    margin-bottom: 15px;
}

.what_w_d_best_title h2 {
    font-size: 36px;
    line-height: 52px;
    color: #303030;
    font-weight: 600;
}

.what_w_d_best_lorem p {
    font-size: 15px;
    line-height: 26px;
    color: #888;
    font-weight: 500;
    padding-top: 12px;
    text-align: center;
    width: 975px;
}

.what_w_d_best_depart_first {
    display: flex;
}

.what_w_d_best_depart_first li {
    display: flex;
    box-shadow: 0 0 10px rgba(48, 48, 48, 0.1);
    padding: 33px 33px 27px 19px;
    background: white;
}

.what_w_d_best_depart_first li:hover {
    background: rgba(0, 125, 242, 1);
    transition: all 0,5s;
    color: white;
}

#margin-right {
    margin-right: 25px;
}

.depart_icon {
    font-size: 51px;
    color: rgba(0, 125, 242, 1);
    line-height: 1;
    margin-right: 25px;
}

.depart_content h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 14px;
    color: #303030;
}

.depart_content p {
    font-size: 14px;
    line-height: 26px;
    color: #303030;
    width: 240px;
}